.hoverVideo {
  position: relative;
  width: 100%;
  height: 249px; /* 21:9 */
  transition: filter 0.3s;
  overflow: hidden;
}

.hoverVideoContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f0f0f0;
  text-align: center;
  z-index: 1;
}

.hoverVideoText {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.3s;
}
.hoverVideoContent:hover .hoverVideoText {
  opacity: 0;
}

.hoverVideoMedia {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  backdrop-filter: blur(5px);
}

.hoverVideoActive {
  filter: none;
  backdrop-filter: none;
}

.video,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}
