* {
  box-sizing: border-box;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  background: #747373;
  color: #101015;
}
